body{
    background-color: #011627;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica;
    color: black;
}

option{
    font-size: 1.25vw;
}

option:hover{
    cursor: pointer;
}


 ul {
    list-style: none;
}

 a, a:visited, a:hover{
    text-decoration: none;
    color:black;
 }

 .footerDiv{
    position: absolute;
    top:48vw;
    width: 100%;
    height: 1px;
    background-color: white;
 }

 .HeaderDiv{
    margin: 0vw auto 0vw ;
    width: fit-content;
    font-size: 1.75vw;
    letter-spacing: 0.25vw;
    padding: 0%;
    color: white;
 }

 .textDiv{
    display: inline-block;
    display: flex;
    width:fit-content;
    margin: 0vw auto 0vw ;
    font-size: 1.25vw;
    color: white;
}

.text{
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.headerText{
    margin-bottom: 0vw;
    margin-top: 0.5vw;
}

.imgDiv{
    width:fit-content;
    margin: 0vw auto 0vw ;
    margin-bottom: 1.5vw;
    display: flex;
 }

 .footer_line{
    color:white;
}
.to_Linkedin{
    color:white;
    cursor: pointer;
}


.to_Linkedin:hover{
    color:white;
    cursor: pointer;
    text-shadow: 0 0 0.8px white;
}

 .hoverDiv {
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;

	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hoverDiv:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.img{
    height: 9vw;
    width: 9vw;
 }

/*=========================================IDs=========================================*/
#TopBar{
    background-color: #E9EBED;
    
}

#TopBarTitle{
    font-size: 2.3rem;
    font-weight: 700;
    /*      Top   right  bottom  left */
    padding: 0.5%    0%    0.5%     10%;
    margin: 0;

}


#list{
    width: 20.5vw;
    border-radius:0.25vw;
    margin: 2.3vw 0vw 0vw 9.5%;
    /*        Top   right  bottom  left */
    padding:   0%    0%      0%     0%;
    border: none;
    border-bottom: 0px solid black;
    outline: none;
    background-color: #ffffff;
    font-size: 1vw;
    position: absolute;
    z-index: 1;
}

.list-items {
    /*        Top   right  bottom  left */
    padding:   2%    0%      2%     3%;
    cursor: pointer;
}

.list-items:hover {
    background-color: #dddddd;
  }

#fisrtDiv{
    height: fit-content;
    width: 35vw;
    float:left;
    margin: 4vw 2vw 2vw 10vw;
}

#courseNameTextBox{
    width:20vw;
}

#lecsNoTextBox{
    cursor: pointer;
}
#tutsNoTextBox{
    cursor: pointer;
}

#checkButton{
    margin-left: 14.05vw; 

    display: inline-block;  

}

#checkButton:active {
    box-shadow: 0vw 0.15vw #666;
    transform: translateY(0.1vw);
  }

#checkButton:hover{
    background-color: #04794e;
}


#clearButton{
     display: inline-block;
     margin-left: 0vw; 
     background-color: #011627;
}

#clearButton:hover{
    background-color: #1a2d3c;
}

#clearButton:active{
    box-shadow: 0vw 0.15vw #666;
    transform: translateY(0.1vw);
}



#secondDiv{
    min-height: 7vw;
    overflow: hidden;
    width: 39vw;
    float:left; 
    margin: 4vw 2vw 2vw 2vw;
    z-index: 2;

}

#Title2{
    padding-left: 0.5vw;
}

.WarningLabel{
    font-size:1.3rem;    
    font-weight:bolder;
    margin:1.5vw 0vw 2vw 1.75vw;
    display: none;
    width:93%;
   
}

#thirdDiv{
    height: 11.5vw;
    width: 35vw;
    position: absolute;
    left: 0vw;
    top: 27vw;
            /* Top   right  bottom  left */
    margin:  1.25vw   2vw    1vw    10vw;
}

#codeErrorTextBox{
    margin-left: 4.0vw;
    padding-left:0.5vw;
    outline:none;

}

#crdsErrorLabel{
    margin-left: 13vw;  
}

#crdsErrorTextBox{
    padding-left:0.5vw;
    margin-left: 21.0vw;
    width: 3vw;
    outline:none;

}

#courseNameErrorTextBox{
    padding-left:0.5vw;
    margin-left: 8.5vw;
    width:20vw;
    border-width: 1vw;
    outline:none;
}

#ErrorButton{
    margin-top: 0.75vw;
    background-color: #011627;
    margin-left: 23.5vw;
}

#ErrorButton:hover{
        background-color: #1a2d3c;
}

#ErrorButton:active {
    box-shadow: 0vw 0.15vw #666;
    transform: translateY(0.1vw);
}


#openSourceLink:hover{
    text-decoration: underline;
}

/*==============================================Classes========================================*/

.fieldsDiv{
    margin-bottom: 4.5%;
}

.labelStyle{
    font-size: 1.15rem;    /*1.4vw  135%*/  
    display: block;
}

.textBoxStyle{
    width: 10vw;
    height:2.1vw;  
    font-size: 1.05vw; 
    font-weight: 500;
    position: absolute;
    background-color: #ffffff;
    cursor: pointer; 
    border:none;
    border-radius:0.25vw;
    padding: 0em 0em 0em 0.5vw;
    margin: 0% 0% 0% 9.5%;
    cursor: text;
    outline: none;

}



.outputDiv{
    width:93%;
    display: none;
    border-radius:0.25vw;
            /* Top   right  bottom  left */
    margin: 0.25vw 0.25vw 0.35vw .75vw ;
    padding: 0.5vw   0vw     0.5vw   1.25vw;
    font-size: 1.3rem;
    font-weight: bold;
}

.buttonStyle{
    width: 9vw;
    height:2.9vw;  
    letter-spacing:0.04vw;
    font-size: 1.30rem; 
    color: white;
    background-color: #059862;
    cursor: pointer; 
    border:none;
    border-radius:0.25vw;
    margin-bottom: 1.5vw;
    margin-top: 0.75vw;
}

.disabledButton{
    background-color: grey;
}

.Title{
    font-size:1.45rem;    
    font-weight:bolder;
    margin:0.25vw 0vw 1vw 0vw;
}

.Panel{
    background-color: #D2D6DA;
    border-radius: 0.65vw;
}

.PanelsContent{
    margin: 1vw 1.25vw 0vw 1.25vw;
}

.hiddenDiv{
    display: none;
}


/*===================================Terms and Conditions Classes=========================*/



.TandCOuter{
    background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: grey;
             /* Top   right  bottom  left */
    margin:      0vw   0vw     0vw    0vw;
    opacity: 80%;
    display: none;
}

.TandCInner{
    position: absolute;
    z-index: 1;
    width: 50vw;
    height: 37vw;
    background-color: black;
             /* Top   right  bottom  left */
    margin:     2vh   0vw     0vw    25vw;
    opacity: 95%;
    border-radius: 0.65vw;
    display: none;
}

.TandC_header{
    color:white;
    font-size: 2.02vw;
    text-align: center;
}

.TandC_headerDiv{

    margin: 0px auto 0px;
}
.TandC_content{
    color:white;
    font-size: 1vw;
    padding: 0vw 1.5vw 0vw 1.5vw;
}

.acceptButton{
    background-color: #059862;
    float: right;
             /* Top   right  bottom  left */
     margin:  2.1vw      2vw   2vw   1.25vw ;
}

.acceptButton:hover{
    background-color: #05794e;
}

.acceptButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .acceptButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.5vw;
    transition: 0.5s;
  }
  
  .acceptButton:hover span {
    padding-right: 1.5vw;

  }
  
  .acceptButton:hover span:after {
    opacity: 1;
    right: 0;
  }

  .buttonText{
    font-size: 1.5vw;
    font-weight: 300;
  }



  .hide{
    display: none;
  }
  .show{
    display: block;
  }
/*==================================== Mobile Phone Compatibility ================================== */
@media only screen and (max-width: 1024px) {
    


    /*==========================================IDs=======================================*/
    #TopBarTitle{
        font-size: 6vw;
        padding: 2%    0%    2%     5%;
    }
    
    #fisrtDiv{
        height: 47vw;
        width: 90vw;
        margin: 7vw 2vw 0vw 5vw;
    }

    #courseNameTextBox{
        width:52vw;
        padding: 0vw 0vw 0vw 0.75vw;
    }

    #checkButton{
        margin-left: 38vw;
    }

    #checkButton:hover{
        background-color: #059862;

    }
    
    #secondDiv{
        min-height: 70px;
        width: 90vw;
        margin: 7vw 2vw 5vw 5vw;
    }

    #Title2{
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    .WarningLabel{
        font-size:4.25vw;    
        padding-left: 2vw;
        margin:5vw 0vw 2vw 1vw;
    }
    
    #thirdDiv{
        display: none;
    }
    
    .fieldsDiv{
        margin-bottom: 2%;
    }
    
    .labelStyle{
        font-size: 4vw;    
        margin-bottom: 1.5%;
    }

    .textBoxStyle{
        width: 15vw;
        height:5.5vw;  
        font-size: 3vw; 
        border-radius:1vw;
        margin: 0% 0% 0% 28%;
    }

    #list{
        width: 0vw;

        margin: 0% 0% 0% 28%;
        /*        Top   right  bottom  left */
        padding:   5.55%    0%      0%     0%;
        border: none;
        border-bottom: 0px solid black;
        outline: none;
        background-color: #ffffff;
        font-size: 1vw;
        position: absolute;
    }
    
    .list-items {
        background-color: #ffffff;
        width: 50.5vw;
        font-size: 3.5vw;
        /*        Top       right   bottom         left */
        padding:  1.25vw      1vw        1.25vw     1vw;
        cursor: pointer;
        z-index: 1;
    }

    .list-items:last-child {
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }
    .list-items:first-child {
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
    }

    .outputDiv{
        width:92%;
        border-radius:1vw;
        font-size: 4.25vw;
                 /* Top   right  bottom  left */
         margin: 0.25vw   0.25vw   2vw   1.25vw ;
         padding-left: 3vw;
    }

    .buttonStyle{
        width: 22vw;
        height:8.5vw;  
        font-size: 4vw; 
        border-radius:0.35rem;
        margin-top: 1vw;
    }

    .Title{
        font-size: 4.75vw;    
        margin: 0.25vw 0vw 2vw 0vw;
    }
    
    .Panel{
        border-radius: 1.1vw;
    }
    .PanelsContent{
        margin: 3% 3% 0% 4%;
    }

    .TandCInner{
        position: absolute;
        z-index: 1;
        width: 90vw;
        height: max-content;
        background-color: black;
                 /* Top   right  bottom  left */
        margin:     2vh   5vw     0vw    5vw;
        opacity: 90%;
        border-radius:1vw;
    }

    .TandC_header{
        color:white;
        font-size: 7vw;
        padding: 0vw 0vw 0vw 0vw;
        margin: 5vw 0vw 3vw 0vw;
    }
    .TandC_content{
        color:white;
        font-size: 4vw;
        padding: 0vw 3vw 0vw 4vw;
    }

    .acceptButton{
        font-size: 3vw;
        margin-bottom: 4vw;
    }


    .buttonText{
        font-size: 4vw;
        font-weight: 400;
    }
    
    .acceptButton:hover span {
        padding-right: 3.5vw;
      }

      .footerDiv{
        top:178vw;
     }
    
     .HeaderDiv{
        font-size: 4.5vw;
        letter-spacing: 0.25rem;
     
     }
    
     .textDiv{
        display: inline-block;
        display: flex;
        width:fit-content;
        margin-bottom: 0.6rem;
        margin-top: 0.6rem;

        font-size: 3.25vw;
        color: white;
    }
    
    .text{
        padding: 0;
        margin: 0;
    }

    #maText{
        margin-left: 0.375rem;
    }

    #khText{
        margin-left: 0.975rem;


        
    }
    
    .headerText{
        margin-bottom: 1vw;
        margin-top: 1rem;
    }
    
    .imgDiv{
        padding-bottom: 2.5vw;

     }
    
     .hoverDiv {
        width: fit-content;
        padding-left: 3.5vw;
        padding-right: 3.5vw;
        cursor: pointer;
    
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .hoverDiv:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .img{
        height: 6rem;
        width: 6rem;
     }


    
} 


/*=======================================================Animation======================================================*/

.divDownwards{
    animation-fill-mode:forwards;
    animation-duration: 0.75s;
    animation-timing-function: steps(1080, end);;
    animation-name:verticalwipe;
  }

  .wipe{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    animation: linearwipe 0.75s steps(720, end); 
  }

  .wipeText{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    animation: linearwipeText 0.75s steps(720, end); 
  }

  @keyframes linearwipeText{ 
    from { width: 0;} 
  }  

  
  @keyframes linearwipe{ 
    from { width: 0; height:0;} 
  }  

  /*=================================================Site Down========================================================*/

  .siteDown{

    color:white;
    margin: 4vw 2vw 2vw 10vw;
    font-size: 3vw;
  }

  @media only screen and (max-width: 1024px) {
    .siteDown{

        color:white;
        margin: 13vw 2vw 2vw 7vw;
        font-size: 7.5vw;
      }
    
}

/*
  @media (any-pointer: fine){
    @media only screen and (max-width: 600px) {

        #fisrtDiv{
            display: none;
        }

        #secondDiv{
            display: none;
        }

        #thirdDiv{
            display: none;
        }

        #TopBar{
            display: none;
        }

        
        .hiddenDiv{
            display: inline-block;
            font-size: 7.25vw;
            color: white;
            font-weight: bold;
            padding-left: 5vw;
            padding-top: 1vw;;
        }
        


    }
  }*/